<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel='stylesheet' href='/css/style.css'>
    <link rel="icon" href="/img/weather.png">
</head>

<body>
    <div class="content-main">
        {{>header}}
        <p>
            This app allows you to {{info}}
        </p>
        <p>Application made by BlitzYp</p>
        <img class="pfp" src="./img/Sensei_wu.png">
    </div>
    {{>footer}}
</body>

</html>